/* Reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

/* Variables */
:root {
  --color1: #021b2b;
  --color2: #144ccb;
  --color3: #aaaaaa;
  --color4: #ffffff;
  --color5: #000000;
}

/* Estilos Generales */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #144ccb #021b2b;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  overflow: hidden;
  width: 100%;
  font-size: 16px;
  background-color: #021b2b;
}

input[type='checkbox'] {
  display: none;
}

.btn {
  font-size: 1rem;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px #000;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #144ccb;
}

/* Estilos Header */
#header {
  height: 20px;
  background-color: #021b2b;
}

#label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  transition: 0.5s;
  z-index: 2;
  color: #fff;
}

#label:hover {
  border-radius: 50%;
  background-color: #fff;
  color: #021b2b;
}

.abrir {
  display: block;
  opacity: 1;
  transition: 0.5s;
}

.cerrar {
  display: none;
  opacity: 0;
  transition: 0.5s;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ #label .cerrar {
  display: block;
  opacity: 1;
  transition: 0.5s;
}

#checkbox:checked ~ #label .abrir {
  display: none;
  opacity: 0;
  transition: 0.5s;
}

#checkbox:checked ~ .header-nav {
  right: 0px;
  transition: 0.5s;
}

.header-nav {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  z-index: 1;
  background-color: #021b2b;
}

.header-nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.header-nav-ul li a {
  font-size: 1.5rem;
  transition: 0.5s;
  color: #fff;
}

.header-nav-ul li a:hover {
  color: #aaa;
}

/* Estilos Main */
#main {
  width: 100%;
}

/* Main Inicio */
#main .main-inicio {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #021b2b;
}

#main .main-inicio-img {
  display: none;
}

#main .main-inicio-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main .main-inicio-texto h1 {
  font-size: 2.5rem;
}

#main .main-inicio-texto h2 {
  font-size: 1rem;
}

/* Main Conoce Nicaragua */
#main .main-conoceNic {
  padding: 20px;
  color: #021b2b;
  background-color: #f1ebeb;
}

#main .main-conoceNic h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#main .main-conoceNic-video {
  display: flex;
  justify-content: center;
}

#main .main-conoceNic video {
  object-fit: cover;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000;
}

/* Main Turismo */
#main-turismo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #021b2b;
}

#main-turismo h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#main-turismo p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.main-turismo-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-turismo-cards-ciudades {
  height: 250px;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
  background-color: #021b2b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}

.main-turismo-cards-ciudades:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-turismo-cards .managua {
  background-image: url('/Assets/Img/managua.png');
}

.main-turismo-cards .granada {
  background-image: url('/Assets/Img/granada.png');
}

.main-turismo-cards .leon {
  background-image: url('/Assets/Img/leon.png');
}

.main-turismo-cards .sanJuan {
  background-image: url('/Assets/Img/sanJuan.png');
}

.main-turismo-cards .ometepe {
  background-image: url('/Assets/Img/ometepe.png');
}

.main-turismo-cards .cornIsland {
  background-image: url('/Assets/Img/cornIsland.png');
}

.main-turismo-cards .masaya {
  background-image: url('/Assets/Img/masaya.png');
}

.main-turismo-cards .esteli {
  background-image: url('/Assets/Img/esteli.png');
}

.main-turismo-cards .rioSanJuan {
  background-image: url('/Assets/Img/rioSanJuan.png');
}

.main-turismo-cards .matagalpa {
  background-image: url('/Assets/Img/matagalpa.png');
}

.main-turismo-cards .bluefields {
  background-image: url('/Assets/Img/bluefields.png');
}

.main-turismo-cards-ciudades-contenido {
  display: none;
}

.main-turismo-cards-ciudades:hover .main-turismo-cards-ciudades-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.main-turismo-cards-ciudades-contenido h3 {
  font-size: 1.5rem;
}

.main-turismo-cards-ciudades-contenido ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-turismo-cards-ciudades-contenido ul li {
  list-style: disc;
}

.main-turismo-cards-ciudades-contenido ul li a {
  font-size: 1rem;
  color: #fff;
}

.main-turismo-cards-ciudades-contenido ul li a:hover {
  color: #144ccb;
}

.main-turismo-cards-ciudades-contenido ul li a:active {
  color: #fff;
}

.main-turismo-cards-ciudades-contenido .btn {
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
  background-color: #144ccb;
  box-shadow: 0px 0px 10px #000;
}

.main-turismo-cards-ciudades-contenido .btn:hover {
  background-color: #fff;
  color: #144ccb;
}

#check-Turismo:not(:checked) ~ .oculto {
  display: none;
}

#check-Turismo:checked ~ .oculto {
  display: block;
}

/* Main Gastronomía */
#main-gastronomía {
  text-align: center;
  padding: 20px;
  color: #021b2b;
  background-color: #fff;
}

#main-gastronomía h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#main-gastronomía p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.main-gastronomía-contenedor {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.main-gastronomía-contenedor-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #021b2b;
  box-shadow: 0px 0px 5px #000;
}

.main-gastronomía-contenedor-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.main-gastronomía-contenedor-item-contenido {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.main-gastronomía-contenedor-item-contenido img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}

.main-gastronomía-contenedor-item-contenido p {
  text-align: center;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
}

#main-gastronomía .btn {
  color: #144ccb;
  background-color: #fff;
}

#main-gastronomía .btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #021b2b;
}

#check-Gastronomía:not(:checked) ~ .oculto {
  display: none;
}

#check-Gastronomía:checked ~ .oculto {
  display: block;
}

/* Main Historia */
#main-historia {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #021b2b;
}

#main-historia h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#main-historia h3 {
  text-align: center;
  font-size: 1.5rem;
}

#main-historia p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
}

.main-historia-contenedor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-historia-contenedor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  margin-bottom: 25px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
}

.main-historia-contenedor-item h3 {
  font-size: 1.5rem;
}

.main-historia-contenedor-item-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.main-historia-contenedor-item-contenido img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main-historia-contenedor-item-contenido .texto {
  display: none;
  animation: fadeIn 0.5s;
}

#check-Historia:not(:checked) ~ .oculto {
  display: none;
}

#check-Historia:checked ~ .oculto {
  display: block;
}

.main-historia-contenedor-item:hover
  .main-historia-contenedor-item-contenido
  .texto {
  display: flex;
}

/* Estilos Curiosidades */
#main-curiosidades {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  color: #021b2b;
  background-color: #fff;
}

#main-curiosidades label {
  color: #144ccb;
}

#main-curiosidades label:hover {
  border: none;
  color: #fff;
  background-color: #021b2b;
}

.main-curiosidades-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main-curiosidades-accordion h2 {
  text-align: center;
  font-size: 1.5rem;
}

.main-curiosidades-accordion p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
}

.main-curiosidades-accordion .accordion {
  overflow: hidden;
}

.main-curiosidades-accordion .accordion-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background-color: #021b2b;
}

.main-curiosidades-accordion .accordion-item:hover {
  background-color: #144ccb;
}

.main-curiosidades-accordion .accordion-item-header {
  padding: 10px;
}

.main-curiosidades-accordion .accordion-item-header button {
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background-color: #144ccb;
  box-shadow: 0px 0px 10px #000;
}

.main-curiosidades-accordion
  .accordion-item:hover
  .accordion-item-header
  button {
  cursor: pointer;
  background-color: #fff;
  color: #144ccb;
}

.main-curiosidades-accordion .accordion-item-collapse {
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.main-curiosidades-accordion .accordion-item:hover .accordion-item-collapse {
  animation: fadeIn 0.5s linear;
  animation-fill-mode: forwards;
}

#main-curiosidades .btn:hover {
  border: 1px solid #fff;
}

#check-Curiosidades:not(:checked) ~ .oculto {
  display: none;
}

#check-Curiosidades:checked ~ .oculto {
  display: block;
}

/* Estilos Footer */
#footer {
  text-align: center;
  padding-bottom: 1rem;
  color: var(--color5);
  background-color: var(--color4);
}

.footer__mailto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 0;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0 0 1rem 1rem;
  color: var(--color4);
  background-color: var(--color1);
  box-shadow: 5px 5px 10px var(--color1);
}

.footer__mailto h2,
p {
  font-size: 1rem;
}

.footer__mailto a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid var(--color3);
  color: var(--color4);
}

.footer__info p {
  text-align: center;
  font-size: 1rem;
}

.footer__info p:first-child {
  font-size: 1.2rem;
}

.footer__info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}

.footer__info ul li a img {
  object-fit: cover;
  width: 1.5rem;
  height: 1.5rem;
}

/* Media Queries */
/* Tablet */
@media screen and (min-width: 768px) {
  /* Footer */
  #footer {
    padding: 1rem 2rem;
  }

  .footer__mailto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    border-radius: 1rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  /* Footer */
  #footer {
    padding: 2rem 4rem;
  }

  .footer__mailto h2,
  p {
    font-size: 1.2rem;
  }

  .footer__mailto a {
    font-size: 1.2rem;
  }

  .footer__info p {
    font-size: 1.2rem;
  }

  .footer__info p:first-child {
    font-size: 1.4rem;
  }

  .footer__info ul li a img {
    width: 2rem;
    height: 2rem;
  }
}

/* Desktop XL */
@media screen and (min-width: 1440px) {
  /* Footer */
  #footer {
    padding: 2rem 8rem;
  }

  .footer__mailto h2,
  p {
    font-size: 1.5rem;
  }

  .footer__mailto a {
    font-size: 1.5rem;
  }

  .footer__info p {
    font-size: 1.4rem;
  }

  .footer__info p:first-child {
    font-size: 1.6rem;
  }

  .footer__info ul li a img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* Desktop XXL */
@media screen and (min-width: 2560px) {
  /* Footer */
  #footer {
    padding: 2rem 16rem;
  }

  .footer__mailto {
    padding: 4rem;
    border-radius: 2rem;
  }

  .footer__mailto h2,
  p {
    font-size: 2rem;
  }

  .footer__mailto a {
    font-size: 2rem;
  }

  .footer__info p {
    font-size: 2rem;
  }

  .footer__info p:first-child {
    font-size: 2.5rem;
  }

  .footer__info ul li a img {
    width: 3rem;
    height: 3rem;
  }
}
